@import "tailwindcss";

:root {
  --background: hsla(52,27.27%,89.22%,1);
  --dark: #23201A;
  --light: #EBE9DC;
}

@theme inline {
  --color-background: var(--background);
  --color-dark: var(--dark);
  --color-light: var(--light);
}

body {
  background: var(--background);
  color: var(--dark);
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 12px 32px;

  background-color: var(--color-dark);
  color: var(--light);

  font: inherit;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 0.1em;

  cursor: pointer;
  transition: opacity 0.2s ease;
}

button:hover {
  opacity: 0.90;
}
